.footer {
    background:rgba(53, 53, 53, 1);
    

    &__container {
        padding: 22px 25px 22px 25px;
    }

    &__title {
        font-family: 'Shrikhand';
        color: white;
    }

    &__navbar {
        color: white;
        display: flex;
        flex-direction: column;
    }

    a {
        text-decoration: none;
        color: white;
        margin: 7px 0;
       cursor: pointer;
    }

    i {
        padding: 0 8px 0 0;
    }
}
