@media (min-width:768px) {
    .main__operation__container{
        display: flex;
        margin: 0 25px;
    }
    
    .fa-mobile-screen-button, .fa-list-ul, .fa-store{
        padding: 20px;
    }

    .card__food {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .footer__navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}