@media (min-width:768px) {
    .main__operation .operation {
        display: block;
        max-width: 1080px;
        width: 100%;
        margin: 0 auto;
    }

    .main__operation__container {
        grid-template-columns: repeat(2, 1fr);
    }


    .fa-mobile-screen-button,
    .fa-list-ul,
    .fa-store {
        padding: 20px;
    }

    .card__food {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .footer__title {
        margin-left: 10px;
    }

    .footer__navbar {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
}


@media (min-width:1024px) {

    .main__operation {
        display: flex;
        flex-direction: column;
    }

    .main__operation__container {
        // display: flex;
        // justify-content: center;
    }

    .main__section__card {
        .card__food {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (min-width:1200px) {
    .main__operation {
        .operation {
            padding: 0;
        }
    }
    .main__operation__container {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .main__section__card {
        padding: 0;
    }
}